html {
  background-color: var(--bg);
  color:            var(--txt);
  font-family:      -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
}

body {
  height:         100vh;
  overflow:       hidden;
  display:        flex;
  flex-direction: column;
}
